name: Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm' # Hızlı kurulum için cache ekledik

      - name: Install, Generate Prisma, and Build
        run: |
          npm install
          npx prisma generate
          npm run build

      # KRİTİK ADIM: Statik dosyaları standalone klasörüne taşıyoruz
      - name: Prepare Standalone Assets
        run: |
          cp -r public .next/standalone/public
          cp -r .next/static .next/standalone/.next/static

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'lunawebapp'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          # Sadece gerekli olan standalone klasörünü yüklüyoruz (hız kazandırır)
          package: .next/standalone